<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<form action="/post-page" method="get">
  <button type="submit" class="btn btn-primary btn-lg" style="background-image: linear-gradient(-180deg, rgba(140, 239, 116, 1) 15%, rgba(169, 255, 143, 1) 35%, rgba(198, 255, 170, 1) 50%, rgba(228, 255, 198, 1) 65%, rgba(255, 255, 227, 1) 85%, rgba(255, 255, 255, 1) 100%); border: none; font-weight: 700;">
    <div class="messages-text">Get started</div>
  </button>
</form>
<form action="/about" method="get">
  <button type="submit" class="btn btn-primary btn-lg" style="background-image: linear-gradient(180deg, rgba(36, 160, 237, 1) 15%, rgba(82, 187, 255, 1) 25%, rgba(117, 214, 255, 1) 40%, rgba(149, 243, 255, 1) 50%, rgba(181, 255, 255, 1) 65%, rgba(212, 255, 255, 1) 75%, rgba(243, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%); border: none; font-weight: 700;">
    <div class="about-text">About this site</div>
  </button>
</form>
</body>
</html>